#comofunciona
    clearfix()
    .descricao
        width 20%
        float left
        padding-top 30px
        h3
            color $laranja
            text-transform uppercase
            raleway 18
            margin 0
        p
            raleway 15
            color #878787
            line-height 1.3
    .passo-a-passo
        clearfix()
        div
            text-align center
            width 20%
            float left
            margin-left 6.666%
            h3
                position relative
                raleway 18
                text-transform uppercase
                line-height 1.2
                margin-bottom 0
                &:after
                    content ""
                    display block
                    position relative
                    text-align center
                    width 20px
                    height 1px
                    margin 30px auto 0
                    background #e1e1e1
            p
                line-height 1.3
                raleway 15
                margin 30px 0 0
    .divisoria
        height 1px
        width 100%
        background #e6e6e6
        margin 50px 0
    .detalhes
        width 415px
        float left
        h3
            color $laranja
            text-transform uppercase
            raleway 18
            margin 30px 0 0
            &:first-child
                margin 0
        p
            raleway 15
            color #878787
            line-height 1.3
    #form-orcamento
        width 490px
        float right
        h3
            color $laranja
            text-transform uppercase
            raleway 18
            margin 0 0 15px
        input
        textarea
            width 100%
            margin-bottom 10px
            border-radius 4px
            border 1px solid #e1e1e1
            outline 0
            height 42px
            padding 8px 12px
        textarea
            height 130px
            resize vertical
            padding-top 12px
        input[type='submit']
            float right
            width auto
            border-radius 4px
            border 0
            border-bottom 4px solid #d58d28
            display inline-block
            background $laranja
            padding 0
            height 45px
            padding 0 15px
            text-transform uppercase
            text-decoration none
            color #232323
            raleway 18 light
            margin-top 0
            transition border-width .3s ease, color .3s ease
            &:hover
                color white
                text-shadow 0 1px 2px rgba(0,0,0,.3)
        .resposta
            display none
            height 45px
            line-height 45px
            raleway 13
            color $laranja