#contato
    clearfix()
    .left
        width 400px
        float left
    .right
        width 564px
        float right
    .info
        clearfix()
        margin-bottom 20px
        .left
            p
                raleway 16
                color #a0a0a0
                line-height 1.5
                margin-top 0
        .right
            p
                margin 0 0 6px
                raleway 18
            a
                raleway 16
                color $laranja
                text-decoration none
                trs color
                &:hover
                    color black
    #form-contato
        input
        textarea
            width 100%
            margin-bottom 15px
            border-radius 4px
            border 1px solid #e1e1e1
            outline 0
            height 42px
            padding 8px 12px
        textarea
            height 156px
            resize vertical
            padding-top 12px
        input[type='submit']
            float right
            width auto
            border-radius 4px
            border 0
            border-bottom 4px solid #d58d28
            display inline-block
            background $laranja
            padding 0
            height 45px
            padding 0 15px
            text-transform uppercase
            text-decoration none
            color #232323
            raleway 18 light
            margin-top 0
            transition border-width .3s ease, color .3s ease
            &:hover
                color white
                text-shadow 0 1px 2px rgba(0,0,0,.3)
        .resposta
            display none
            height 45px
            line-height 45px
            raleway 13
            color $laranja