.banner
    width 100%
    height 450px
    margin-bottom 40px
    background-size auto 100%
    background-position center

#home
    .servicos-wrapper
        position relative
        margin-bottom 50px
        border-radius 4px
        overflow hidden
        clearfix()
        .servico
            position relative
            float left
            width 50%
            &.exteriores
                border-left 1px solid white
            h2
                display block
                position absolute
                cursor default
                margin 0
                top 0
                left 0
                width 100%
                height 100%
                background $img('servicos-overlay.png') repeat-x center
                background-image linear-gradient(0deg, transparent, transparent 60%, black)
                text-align center
                text-transform uppercase
                raleway 18
                color white
                text-shadow 0 1px 0 black
                padding-top 40px
            img
                display block
        .botao-wrapper
            width 100%
            position absolute
            bottom 30px
            text-align center
            a
                border-radius 4px
                box-shadow 0 0 6px rgba(0,0,0,.6)
                border-bottom 4px solid #d58d28
                display inline-block
                background $laranja
                padding 20px 30px
                text-transform uppercase
                text-decoration none
                color #232323
                raleway 24 light
                margin-top 0
                transition border-width .3s ease, color .3s ease
                &:hover
                    border-width 2px
                    margin-top 2px
                    color white
                    text-shadow 0 1px 2px rgba(0,0,0,.3)
    .instagram-api
        width 100%
        clear both
        clearfix()
        a
            &.userlink
                display block
                margin-bottom 25px
                raleway 15
                height 20px
                line-height 20px
                color $texto
                text-decoration none
                trs color
                &:hover
                    color $laranja
                &:before
                    content ""
                    display block
                    position relative
                    float left
                    margin-right 10px
                    width 20px
                    height 20px
                    background $img('instagram-home.png') no-repeat center
            &.thumb
                display block
                position relative
                width 170px
                padding 5px
                float left
                margin-right 32px
                border-radius 4px
                box-shadow 0 0 6px rgba(0,0,0,.3)
                background white
                &:last-child
                    margin-right 0
                &:after
                    content ""
                    display block
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    opacity 0
                    background $img('instagram-image-hover.png') no-repeat center
                    trs opacity
                &:hover:after
                    opacity 1
                img
                    display block
                    width 100%
                    height auto