#perfil
    clearfix()
    img
        float left
        display block
        border-radius 4px
        box-shadow 0 0 6px rgba(0,0,0,.2)

    .texto
        width 455px
        float right
        raleway 16
        color $texto
        line-height 1.3
        p
            margin-top 0
    .destaque
        display block
        width 100%
        float left
        margin-top 50px
        border-radius 4px
        padding 28px 36px
        text-align center
        raleway 17
        color white
        border 2px solid #db8d2e
        text-shadow 0 2px 0 rgba(0,0,0,.2)
        box-shadow 0 0 6px rgba(0,0,0,.2)
        background $laranja
        background-image linear-gradient(180deg, #ed9935, $laranja 25%, $laranja 75%, #ed9935)
        p
            margin 10px 0