#servicos
    .servicos-wrapper
        position relative
        margin-bottom 130px
        clearfix()
        .col
            position relative
            float left
            width 50%
            &.exteriores
                border-left 1px solid white
                .servico
                    border-radius 0 4px 0 0
            &.interiores
                .servico
                    border-radius 4px 0 0 0
        .servico
            position relative
            overflow hidden
            h2
                display block
                position absolute
                cursor default
                margin 0
                top 0
                left 0
                width 100%
                height 100%
                background $img('servicos-overlay.png') repeat-x center
                background-image linear-gradient(0deg, transparent, transparent 60%, black)
                text-align center
                text-transform uppercase
                raleway 18
                color white
                text-shadow 0 1px 0 black
                padding-top 40px
            img
                display block
        .servico-detalhes
            position relative
            background $img('pattern-laranja.png') repeat center $laranja
            border-top 1px solid white
            text-align center
            raleway 18
            text-transform uppercase
            color #885a19
            padding 30px
            min-height 405px
            &:before
                content ""
                position absolute
                display block
                width 100%
                height 8px
                top 0
                left 0
                background $img('servicos-seta-div.png') no-repeat center
            .detalhe
                margin-bottom 30px
                &:last-child
                    margin 0
                p
                    margin 10px 0 0
        h3
            display inline-block
            width 100%
            background $img('pattern-cinza.png') repeat center #393939
            raleway 22 light
            color white
            margin 0
            text-align center
            text-transform uppercase
            padding 14px 0
        .entregue
            position relative
            background #e6e7e8
            padding 40px 40px 80px 40px
            border-radius 0 0 4px 4px
            clearfix()
            .entregue-item
                text-align center
                float left
                width 25%
                img
                    display inline-block
                    margin-bottom 10px
                p
                    raleway 16
                    color $texto
                    margin 0
                    span
                        display block
                        margin-top 5px
                        raleway 15
                        color #8c8c8c
            .entregue-mais
                display block
                float left
                width 12.5%
                height 90px
                background $img('servicos-mais.png') no-repeat center
        .entenda
            width 100%
            position absolute
            bottom -35px
            text-align center
            a
                position relative
                border-radius 4px
                box-shadow 0 0 4px rgba(0,0,0,.3)
                border-bottom 4px solid #d58d28
                display inline-block
                background $laranja
                padding 20px 30px 20px 70px
                text-transform uppercase
                text-decoration none
                color #232323
                raleway 24 light
                margin-top 0
                transition border-width .3s ease, color .3s ease
                &:before
                    content ""
                    display inline-block
                    position absolute
                    width 26px
                    height 100%
                    top 0
                    left 25px
                    background $img('icone-comofunciona.png') no-repeat center
                    margin-right 25px
                &:hover
                    border-width 2px
                    margin-top 2px
                    color white
                    text-shadow 0 1px 2px rgba(0,0,0,.3)