header
    clearfix()
    position relative
    z-index 10
    background $img('pattern-header.png') repeat
    box-shadow 0 0 4px rgba(0, 0, 0, .4)
    padding 20px 0
    h1
        display block
        float left
        margin 0
        width 126px
        height 100px
        background $img('logo.png')
        a
            display block
            width 100%
            height 100%
            text-indent -9999px
    nav
        display block
        float right
        margin-top 23px
        a
            position relative
            display inline-block
            height 54px
            line-height 54px
            margin-right 28px
            text-transform uppercase
            text-decoration none
            color #aaaaaa
            trs color
            &:last-child
                margin-right 0
            &:hover
                color $laranja
            &.active
                color black
                &:after
                    content ""
                    display block
                    position relative
                    width 11px
                    height 6px
                    margin 0 auto
                    background $img('nav-seta.png') no-repeat center
            &.instagram
                width 22px
                text-indent -9999px
                background $img('instagram-cinza.png') no-repeat center
                trs background
                &:hover
                    background-image $img('instagram-laranja.png')

.title
    height 72px
    margin-bottom 50px
    background $laranja
    background-image linear-gradient(180deg, $laranja, $laranja 75%, #ed9935)
    border-bottom 2px solid #db8d2e
    h2
        height 72px
        line-height 72px
        text-transform uppercase
        color #845718
        raleway 28 light
        &:before
            content ""
            position relative
            display block
            float left
            height 72px
            margin-right 22px
            background-position center
            background-repeat no-repeat
        &.perfil:before
            background-image $img('icone-perfil.png')
            width 23px
        &.servicos:before
            background-image $img('icone-servicos.png');
            width 19px
        &.comofunciona:before
            background-image $img('icone-comofunciona.png');
            width 26px
        &.trabalhe:before
            background-image $img('icone-trabalheconosco.png');
            width 23px
        &.contato:before
            background-image $img('icone-contato.png');
            width 23px

footer
    background black
    margin-top 100px
    padding 40px 0
    box-shadow 0 -2px 2px rgba(0, 0, 0, .15)
    clearfix()
    nav
        float left
        a
            display block
            position relative
            margin-bottom 8px
            padding-left 14px
            text-decoration none
            raleway 13
            color #bebebe
            trs color
            &:last-child
                margin 0
            &:hover
                color $laranja
            &:before
                content ""
                display block
                position absolute
                left 0
                top 5px
                width 3px
                height 5px
                background $img('bullet-footer.png') no-repeat center
    .info
        float right
        text-align right
        .instagram
            display block
            float right
            text-indent 9999px
            overflow hidden
            width 22px
            height 22px
            margin-bottom 27px
            background $img('instagram-laranja.png') no-repeat center
            trs background
            &:hover
                background-image $img('instagram-branco.png')
        p
            clear right
            float right
            display inline-block
            margin 0 0 4px
            raleway 15
            color #c8c8c8
        a
            &.email
                clear right
                float right
                display inline-block
                raleway 13
                color $laranja
                text-decoration none
                trs color
                &:hover
                    color white
            &.trupe
                display block
                position absolute
                bottom 0
                right 0
                text-indent 9999px
                overflow hidden
                width 19px
                height 15px
                margin-top 27px
                background $img('trupe.png') no-repeat center
    .copyright
        width 250px
        margin 0 auto
        text-align center
        color #323232
        font 9px "Verdana", sans-serif
        img
            margin 5px 0 40px