*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%
    raleway 14
    color $texto
    background $img('bg.png') repeat

::selection
    background $laranja
    color black

::-moz-selection
    background $laranja
    color black

.center
    width desktop-base-width
    position relative
    margin 0 auto