// Responsive
desktop-base-width     = 980px
rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = 710px

// Colors
$laranja = #f9a52b
$texto = #787878

// Fonts
@import url('http://fonts.googleapis.com/css?family=Raleway:500,700,200')
raleway($size, $style = regular)
    font-size $size + 0px
    font-family "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif
    font-weight 500
    if $style == bold
        font-weight 700
    if $style == light
        font-weight 200

// Image path
$img($src)
    url('../img/layout/'$src)

// Transition
trs($property)
    transition $property .3s ease